.footer-personalizado{
    background-color: #D91656;
    padding: 20px 0;
    #redes{
        display: flex;
        align-items: center;
        gap: 80px;
        justify-content: center;
    }
    .redes-tamano{
        height: 50px;
        width: 50px;
    }
    @include celular{
        #redes{
            gap: 20px;
            padding: 0 5px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}