.header-personalizado{
    background-color: #D91656;
    #logo{
        height: 80px;
        width: 80px;
    }
    .lookabook{
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 80px;
        -webkit-text-stroke: 1.5px #FFB200;
    }

    //nav
    .lista-horizontal{
        display: flex;
        list-style: none;
        align-items: center;
        height: 80px;
        width: 100%;
        padding: 0;
        margin: 0;
        li{
            flex: 1;
            text-align: center;
            height: 100%;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: #FFB200;
                text-decoration: none;
                font-weight: 700;
                font-size: clamp(14px, 4vw, 18px);
                -webkit-text-stroke: 1px black;
                border: 3px solid #FFB200; 
                background-color: black;
                transition: background-color 0.3s;
                &:hover{
                    background-color: #ffd966;   
                    color: #000;                 
                    border-color: #000;          
                    box-shadow: 0 0 10px #ffd966; 
                }
            }
        }
    }

    @include celular{
        #logo{
            height: 50px;
            width: 50px;
            margin-right: 0px;
        }
        .lookabook{
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        h1{
            font-size: clamp(24px, 10vw, 40px);
            -webkit-text-stroke: 1px #FFB200;
            max-width: 100%;
            margin: 0;
            padding: 0;
            line-height: 1;
        }
        .lista-horizontal{
            height: 70px;
            li{
                a{
                    height: 70px;
                    font-size: clamp(14px, 6vw, 16px);
                }
            }
        }
    }
}