.main-paginanosotros{
    .contenido{
        #frase-nosotros{
            font-size: 22px;
            font-family: "Archivo", sans-serif;
            text-align: center;
        }
        #ubicacion{
            width: 400px;
            display: block;
            margin: 0 auto;
        }
        #accordionExample{
            background-color: #FFB200;
            padding-bottom: 20px;
            .accordion-item{
                background-color: #FFB200;
                border: none;
                &:last-child{
                    margin-bottom: 15px;
                }
            }
            .accordion-button{
                background-color: black;
                color: #FFB200;
                font-weight: bold;
                box-shadow: none;
                &:not(.collapsed){
                    background-color: #D91656;
                    color: black;
                    box-shadow: none;
                    border: 2px solid black;
                }
            }
        }
        @include celular{
            #ubicacion{
                width: 250px;
                height: auto;
            }
        } 
    }
}