/*header*/
#logo{
    height: 80px;
    width: 80px;
}

.lookabook{
    display: flex;
    align-items: center;
}

h1{
    font-size: 80px;
    -webkit-text-stroke: 1.5px #FFB200;
}

/*estilo general*/
html{
    background-color: #D91656;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

main{
    background-color: #FFB200;
}

.lista-horizontal{
    display: flex;
    /*justify-content: space-between; */
    list-style: none;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}

.lista-horizontal li {
    width: 25%;
}

.lista-horizontal li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%; 
    color: #FFB200;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    border: 3px solid #FFB200; 
    background-color: black;
    transition: background-color 0.3s;
}

.lista-horizontal li a:hover {
    background-color: #ffd966;   
    color: #000;                 
    border-color: #000;          
    box-shadow: 0 0 10px #ffd966; 
}

h1, h2, h3{
    margin: 20px;
}

h3{
    align-items: center;
}

p{
    font-family: "Quicksand", sans-serif;
    margin: 20px;
}

.contenido{
    padding: 30px 0 30px 40px;
}

/*footer*/
#redes{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.redes-tamano{
    height: 50px;
    width: 50px;
}

/*Página 1 - Index*/
#imagen-inicial{
    width: 100%; /*cambiar*/
    height: 90vh; 
    display: block;
}

.tamano-libros{
    height: 250px;
    width: 150px;
}

#libros{
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
    margin-top: 40px; 
}

.libro {
    text-align: center;
    max-width: 180px;
}

/*Página 2 - Contacto*/
#contacto-contenedor {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 0 20px;
}
  
#columna-izquierda {
    display: flex;
    gap: 20px;
    width: 40%;
    margin-left: 20px;
}
  
#carta-pag2 {
    height: 50px;
    width: 50px;
}
  
#columna-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
#columna-derecha input,
#columna-derecha textarea {
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
  
#columna-derecha textarea {
    min-height: 150px;
}

/*Página 3 & 4 - Envíos & Preguntas*/
.pregunta{
    height: 30px;
    width: 30px;
}

.preguntas{
    display: flex;
    align-items: center;
    gap: 2px; 
}

.preguntas p {
    margin: 0; /* elimina espacio dentro del bloque de la pregunta */
}

.respuesta {
    margin: 2px 0 20px 0; /* margen más pegado arriba, normal abajo */
}

/*Página 5 - Nosotros*/
#frase-nosotros{
    font-size: 22px;
    font-family: "Archivo", sans-serif;
    text-align: center;
}

.img-nosotros{
    margin-bottom: 20px;
}

#imagenes{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

#ubicacion{
    width: 400px;
}